@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem 0;
  background-color: $snow;

  @include desktop {
    flex-direction: row;
  }

  &__section-header {
    background-color: $snow;
    color: $black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      background-color: $gold;
      width: calc(50% - 2rem);
    }

    &.animate::before {
      left: 2rem;
      bottom: -0.5rem;
      animation: slideInFromLeftProj 2s forwards;
     
    }

    &.animate::after {
      right: 2rem;
      bottom: -0.5rem;
      animation: slideInFromRightProj 2s forwards;
      
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;

    @include tablet {
      padding: 0 1rem;
      flex-direction: row;
    }

    @include desktop {
      flex-direction: column;
    }
  }

  &__img-container {
    position: relative;
    width: 100%;
    max-width: 80%;
    height: auto;
    overflow: hidden;
    margin: 1rem 0;

    @include tablet {
      width: 175%;
      flex: 0 0 40%;
    }

    @include desktop {
      min-width: 80%;
      max-width: 80%;
      margin: 0;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__gallery-controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    pointer-events: auto;
  }

  &__gallery-controler {
    background-color: $paleblack;
    border: none;
    color: $gold;
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.3s;
    padding: 0.5rem;
  }

  &__description-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 1.5rem 2rem;
    align-items: center;

    @include tablet {
      flex: 0 0 60%;
    }
  }

  &__description-header {
    color: $black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin-bottom: 0.5rem;
      @include tablet{
        font-size: 1.5rem;
      }
  }

  &__description-text {
    color: $charcoal;
  }
}

@keyframes slideInFromLeftProj {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRightProj {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

