@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem 0;
  background-color: $snow;

  @include desktop {
    flex-direction: row;
  }
  &__section-header {
    background-color: $snow;
    color: black;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      background-color: $gold;
      width: calc(50% - 2rem);
    }

    &::before {
      left: 2rem;
      bottom: -0.5rem;
      animation: slideInFromLeftProj 2s forwards;
    }

    &::after {
      right: 2rem;
      bottom: -0.5rem;
      animation: slideInFromRightProj 2s forwards;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
    // position: relative;
    // overflow: hidden;

    @include tablet {
      padding: 0 1rem;
      flex-direction: row;
    }

    @include desktop {
      flex-direction: column;
    }
  }
//   Add flex basis 40 and 60 for text on tablet
  &__img-container {
    // position: relative;
    background-color: aquamarine;
    width: 80%;
    height: auto;
    overflow: hidden;
    margin: 1rem 0rem;

    @include tablet {
      width: 175%;
      flex: 0 0 40%; /* Take 40% width */
    }

    @include desktop {
      width: 80%;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    // box-shadow: 0 8px 12px $charcoal;
  }
//   &__gallery {
//     // Needs to become the img
//     display: flex;
//     gap: 1rem;
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     opacity: 1;
//     visibility: visible;
//     transition: opacity 0.3s, transform 0.3s;
//     z-index: 10;
//     align-items: center;
//     justify-content: center;
//   }
//   .project__gallery-controls {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     display: flex;
//     justify-content: space-between;
//     width: 100%;
//     padding: 0 1rem;
//     box-sizing: border-box;
//     pointer-events: auto;
//   }
  
//   .project__gallery-controler {
//     background-color: rgba(0, 0, 0, 0.5); 
//     border: none;
//     color: $gold; 
//     font-size: 2rem;
//     cursor: pointer;
//     transition: color 0.3s;
//     padding: 0.5rem; 
//   }
  
  &__description-container {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 2rem 2rem;
    align-items: center;
  }
  &__description__header {
    font-size: 1.5rem;
  }
  &__description__text {
    color: $charcoal;
    font-size: 1.2rem;
  }
    @include tablet{
        flex: 0 0 60%; /* Take 40% width */
    }
}

// Animations for project underline
@keyframes slideInFromLeftProj {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRightProj {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
