// Breakpoints
$tablet-breakpoint: 800px;
$desktop-breakpoint: 1100px;

// Main Colors
$logoblue: rgba(20, 101, 149, 1);
$snow: rgb(255, 250, 250);

// Secondary Colors
$palelogoblue:rgb(173, 216, 230);

// Supporting Colors
$gold: rgb(255, 191, 0);
$cyan: rgb(233, 30, 99);


// Font Color
$charcoal: rgb(51, 51, 51);

