// Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

// Main Colors
$logoblue: rgba(20, 101, 149, 1);
$palelogoblue: rgba(20, 101, 149, .6);

// Secondary Colors
$gold: rgb(255, 191, 0);

// Supporting Colors

// Font Color
$charcoal: rgb(51, 51, 51);
$snow: rgb(255, 250, 250)
