@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  background-image: url(../../assets/images/mtnHero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @include tablet {
    height: 80vh;
  }
  @include desktop{
    background-position:right;
    height: 90vh;
  }
}
.text {
  background-color: $paleblack;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12rem;
   position: relative;
   animation: slideInRight 1.5s forwards;
   animation: slideInTop 1.5s forwards;
   padding: 1rem 2rem;
  @include tablet{
    margin-top: 22rem;
    margin-right: 20rem;
  }
  @include desktop {
    margin-top: 20rem;
    margin-right: 0rem;
    margin-left: 25rem;
  }

  &__text {
    font-size: 1.4rem;
    color: $snow;
  }
  &__header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $snow;
    font-weight: 400;
    font-size: 2rem;
  }
  &__subheader {
    color: $gold;
    font-weight: 200;
    font-size: 1.5rem;
  }
    &::after,
    &::before {
      content: "";
      position: absolute;
      background-color: $gold;
    }
    &::after {
      // Vertical part of the L
      height: 40px;
      width: 2px;
      bottom: -0.1rem;
      right: -0.12rem;
      animation: slideInTop 4s forwards;
    }

    &::before {
      // Horizontal part of the L
      height: 2px;
      width: 40px;
      bottom: -0.12rem;
      right: 0;
      animation: slideInRight 4s forwards;
    }
}


@keyframes slideInTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
