@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.about {
  background-color: $black; 
  background: linear-gradient($logoblue, $black);
  display: flex;
  flex-direction: column; 
  align-items: center; 
  @include desktop {
    flex-direction: row; 
    align-items: center;
  }

  &__img-container {
    box-shadow: 2px 3px 5px;
    width: 80%; 
    margin: 1rem 0rem; 
    @include tablet {
      width: 60%; 
    }
    @include desktop {
      width: 40%;
      margin: 1rem 0.5rem 1rem 1rem;
    }
  }

  &__img {
    width: 100%; 
    height: auto;
    max-height: 200px; 
    object-fit: cover; 
    display: block;

    @include tablet {
      max-height: 300px; 
    }
    @include desktop{
      max-height: 430px;
    }
  }

  &__description {
    background-color: $snow;
    box-shadow: 2px 3px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem; 
    border: none;
    margin: 1rem;
    max-width: 90%; 

    @include tablet {
      width: 80%; 
      padding: 1.5rem;
    }

    @include desktop {
      width: 65%; 
      padding: 1rem; 
      margin: 0;
      margin: 2rem 1rem;
    }
  }

  &__header {
    color: $black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6rem; 
    font-weight: 700;
    position: relative;
    margin-bottom: 1rem; 
    text-align: center; 

    @include tablet {
      font-size: 1.8rem; 
    }

    @include desktop {
      font-size: 2rem;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      background-color: $gold;
      width: calc(50%);
    }

    &::before {
      left: 1rem;
      bottom: -0.5rem;
    }

    &::after {
      right: 1rem;
      bottom: -0.5rem;
    }
    
    &.animate::before {
      animation: slideInFromLeftAbout 2s forwards;
    }

    &.animate::after {
      animation: slideInFromRightAbout 2s forwards;
    }
  }

  &__text {
    font-size: 1.2rem; 
    color: $charcoal;
    padding: 0.5rem 0rem; 
    @include tablet {
      font-size: 1.3rem; 
    }

    @include desktop {
      font-size: 1.4rem;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}

@keyframes slideInFromLeftAbout {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRightAbout {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}