@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.mission {
  background-color: $snow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  position: relative;

  @include tablet {
    padding: 2rem 3rem;
  }

  &__header {
    color: $black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem; 
    text-align: center; 
    position: relative;
    margin: 0rem 0.7rem 1rem 0.7rem;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      background-color: $gold;
      width: calc(50% - 1rem); // Adjusted to account for padding
    }

    &::before {
      left: 1rem;
      bottom: -0.5rem;
    }

    &::after {
      right: 1rem;
      bottom: -0.5rem;
    }

    &.animate::before {
      animation: slideInFromLeftMission 2s forwards;
    }

    &.animate::after {
      animation: slideInFromRightMission 2s forwards;
    }
  }

  &__text {
    font-size: 1.3rem;
    color: $charcoal;
    padding: 1rem 1.5rem;
    font-weight: 400; 
    text-align: center; 

    @include tablet {
      margin: 0; 
      max-width: 800px; 
    }
  }
}

@keyframes slideInFromLeftMission {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRightMission {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
