.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(20, 101, 149, 1);
   
  
    &__img-container {
        height: 20vh;
    }
    
    &__img {
        height: 100%;
    }
  
    &__link-container {
      display: flex;
    }
    
    &__link {
      list-style: none;
      padding: 0rem 1rem;
      color: RGB(255, 191, 0);
      
      &--contact {
        padding-right: 2rem;
      }
    }
  }
  