@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.nav {
  display: flex;
  align-items: center;
  background-color: $navlogoblue;
  justify-content: space-between;  
  width: 100%;
  position: fixed;
  z-index: 1000;
  &__img-container {
    height: 12vh;
    padding-left: 1rem;
  }
  &__logo {
    height: 100%;
    min-width:65px;
    filter: drop-shadow(2px 2px 4px rgb(5, 2, 38));
    cursor: pointer;
  }

  &__link-container {
    display: flex;
  }

  &__link {
    font-weight: 200;
    list-style: none;
    padding: 0rem 0.5rem;
    color: $gold;
    cursor: pointer;
    &--scroll{
      display: none;
    }
    @include tablet {
      padding: 0rem 1rem;
      font-size: 1.3rem;
    }
    &--writing {
      padding-right: 1rem;
      @include tablet {
        padding-right: 2rem;
      }
      @include desktop {
        padding-right: 3rem;
      }
    }
    &:hover{
      text-decoration: underline;
    }
  }
  &__link-dash {
    display: none;
    @include tablet{
      display: inline;
      color: $snow;
    }
  }
  &__blog{
    text-decoration: none;
    color: inherit;
  }
  &.scrolled {
    height: 6vh;
    .nav__logo{
      display: none;
    }
    .nav__link{
      font-size: 1rem;
      padding: 0rem 2rem;
      &--scroll{
        display: block;
      }
    }
    .nav__link-dash{
      display: none;
    }
  }
}

